.banner{
    height: 450px;
    background-size: cover;
}
.banner-content{
    padding-top: 250px;
    /* margin-left: 40px; */

    
}
.banner-title{
    text-align:left;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner-des{
text-align:left;
/* margin-left: 80px; */
max-width: 500px;
line-height: 1.5;
}
.fade_bottom{
    margin-top: -65px;
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
